@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --border-color: #e3e5e4;
  --background-color: #c3c7ca;
  --text-color: #34444f;
}
* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100vh;
  margin: 0;
  background-color: #fff;
  font-family: "Lato", sans-serif;
}

/* LIST FORMAT */
/* =========== */

/* Container for <ul> */
.draggable-list {
  border: 1px solid var(--border-color);
  color: var(--text-color);
  padding: 0;
  list-style-type: none;
}

/* format for each element */
.draggable-list li {
  display: flex;
  flex: 1;
  background-color: #fff;
}

.draggable-list li:not(:last-of-type) {
  border-bottom: 1px solid var(--border-color);
}

/* List number spanned in <li> */
.draggable-list .number {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  font-size: 28px;
  background-color: var(--background-color);
}
/* Person's name in <li> */
.draggable-list .person-name {
  margin: 0 20px 0 0;
}

/* Color Coding Correct Order */
.draggable-list li.right .person-name {
  color: #3ae374;
}

/* Color Coding Incorrect Order */
.draggable-list li.wrong .person-name {
  color: #ff3838;
}

/* Background color change as drag element goes over it */
.draggable-list li.over .draggable {
  background-color: #eaeaea;
}

/* Class on <li> that are created dynamically */
.draggable {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  flex: 1;
  cursor: pointer;
}

/* Check Button */
/* ============ */
.check-btn {
  background-color: var(--background-color);
  border: none;
  color: var(--text-color);
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
}

.check-btn:active {
  transform: scale(0.98);
}

.check-btn:focus {
  outline: none;
}
